@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

/* font-family: 'Almarai', sans-serif; */

* {
    font-family: 'Almarai';
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;

}

.navbar {
    background-color: #C8D96F;
}

.navbar a {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    background-color: #A5B452;
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;

}

li a:hover {
    background-color: #A5B452;
}

.container {
    margin-top: 100px;
}

h1 {
    margin-left: 20px;
    font-weight: 100;
    font-size: 80px;
    font-family: 'Almarai';
    color: white;
    text-transform: uppercase;
}

h2 {
    margin-left: 50px;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Almarai';
    color: white;
    text-transform: uppercase;
}


h3 {
    margin-left: 190px;
    font-family: 'Almarai';
    font-size: 30px;
    font-weight: 200;
    color: white;
}

h4 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding-left: 20px;
    /* margin-left: 60px; */
    /* padding-top: 30px; */
    padding-bottom: 200px;
    letter-spacing: 30px;
}

.diferente {
    color: black;
}



/* sobre mi */
/*contenedor de nombre y foto "sobre mí"*/
.Nombre {
    display: flex;
    /* margin-left: 200px; */
    padding-top: 100px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.foto {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 80%;
    display: inline;
}

/* contenedor de nombre y foto "sobre mí"*/

.presentacion p {
    height: 100px;
    width: 400px;
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 200px;
    color: white;
}

/* finaliza sobre mi */


.imagenes {
    display: inline-block;
}


/* body general */
body {
    background-color: #C8D96F;
}

/* body general */


/* empiezan los body de distinto color */
.fondoSobreMi {
    background-color: #A5B452;
}


.fondoProyectos {
    background-color: #2B5F6E;

}

.fondoProyectos1 {
    background: linear-gradient(0deg, rgba(200, 217, 111, 1) 0%, rgba(246, 187, 109, 1) 0%, rgba(43, 95, 110, 1) 100%);
    height: 1000px;
}

.fondoTrabajo {
    background-color: #F1A43E;
    height: 800px;
}

.fondoTrabajo1 {
    background: linear-gradient(0deg, rgba(241, 164, 62, 1) 0%, rgba(200, 217, 111, 1) 0%, rgba(241, 164, 62, 1) 100%);
    height: 2000px;
}

.fondoTrabajo1 p {
    font-size: 20px;
    margin-left: 0px;
}

/* terminan bodys distinto color */

section {
    height: 800px;
    padding-top: 30px;
}

section p {
    color: white;
    margin-left: 600px;
    font-size: 30px;
    justify-content: center;
}

form {
    margin-left: 25px;
}

iframe {
    text-align: center;
}

/* @media only screen and (min-width: 320px) {
    .titulo h1{
       margin-left: 30px;
       font-size: 50px;
    }

    .titulo h2{
        margin-left: 80px;
        font-size: 50px;
    }

    .titulo h3{
        margin-left: 200px;
        font-size: 25px;
    }
    
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 100px;
}

.item {
    border: 1px solid black;
    padding: 20px;
}


/* navbars para cada color de fondo y tamaño del logo*/
.navbar-brand{
    font-size: 40px;
}
.navbar {
    background-color: #C8D96F;
}

#navbarSobremi{
    background-color: #A5B452;
}
#navbarProyectos {
    background-color: #2B5F6E;
}

#navbarTrabajo {
    background-color: #F1A43E;
}

/* fin navbars */

label{
    font-family: 'Almarai';
    font-weight: 500;
    color: white;
    /* text-shadow: 1px 1px 2px black; */
}

input{
    margin-bottom: 10px;
}

/* media queries */
@media only screen and (min-width: 1200px){
    h1{
        margin-left: 650px;

    }
    h2{
        margin-left: 750px;
    }
    h3{
        margin-left: 900px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 320px){
    h4{
        font-size: 40px;
        
    }

    form{
        margin-left: 0px;
        margin-bottom: 60px;
    }
}
/* fin media queries */