@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

/* font-family: 'Almarai', sans-serif; */

* {
    font-family: 'Almarai';
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;

}

.navbar {
    background-color: #C8D96F;
}

.navbar a {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    background-color: #A5B452;
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;

}

li a:hover {
    background-color: #A5B452;
}

.container {
    margin-top: 100px;
}

h1 {
    margin-left: 20px;
    font-weight: 100;
    font-size: 80px;
    font-family: 'Almarai';
    color: white;
    text-transform: uppercase;
}

h2 {
    margin-left: 50px;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Almarai';
    color: white;
    text-transform: uppercase;
}


h3 {
    margin-left: 190px;
    font-family: 'Almarai';
    font-size: 30px;
    font-weight: 200;
    color: white;
}

h4 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding-left: 20px;
    /* margin-left: 60px; */
    /* padding-top: 30px; */
    padding-bottom: 200px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.diferente {
    color: black;
}



/* sobre mi */
/*contenedor de nombre y foto "sobre mí"*/
.nleft {
    background-image: url(./img/foto.jpg);
    height: 200px;
    width: 200px;
    border-radius: 80%;
    background-position: center;
    background-size: cover;
    margin-left: 120px;
    margin-bottom: 20px;

}

.nright {
    margin-left: 80px;
}

/* contenedor de nombre y foto "sobre mí"*/
.presentacion p {
    margin-bottom: 200px;
    color: white;
}

/* finaliza sobre mi */


.imagenes {
    display: inline-block;
}


/* body general */
body {
    background-color: #C8D96F;
}

/* body general */


/* empiezan los body de distinto color */
.fondoSobreMi {
    background-color: #A5B452;
}


.fondoProyectos {
    background-color: #2B5F6E;

}

.fondoProyectos1 {
    background: linear-gradient(0deg, rgba(200, 217, 111, 1) 0%, rgba(246, 187, 109, 1) 0%, rgba(43, 95, 110, 1) 100%);
    height: 1000px;
}

.fondoTrabajo {
    background-color: #F1A43E;
    height: 800px;
}

.fondoTrabajo1 {
    background: linear-gradient(0deg, rgba(241, 164, 62, 1) 0%, rgba(200, 217, 111, 1) 0%, rgba(241, 164, 62, 1) 100%);
    height: 3200px;
}

.fondoTrabajo1 p {
    font-size: 20px;
    margin-left: 0px;
}

.fondoContacto {
    background-color: #CBAC48;
}

/* terminan bodys distinto color */

section {
    height: 800px;
    padding-top: 30px;
}

section p {
    color: white;
    margin-left: 600px;
    font-size: 30px;
    justify-content: center;
}

form {
    margin-left: 25px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 200px;
    margin-left: 100px;
}

.item {
    border: 1px solid black;
    padding: 20px;
}


/* navbars para cada color de fondo y tamaño del logo*/
.navbar-brand {
    font-size: 40px;
}

.navbar {
    background-color: #C8D96F;
}

#navbarSobremi {
    background-color: #A5B452;
}

#navbarProyectos {
    background-color: #2B5F6E;
}

#navbarTrabajo {
    background-color: #F1A43E;
}

#navbarContacto {
    background-color: #CBAC48;
}

/* fin navbars */

label {
    font-family: 'Almarai';
    font-weight: 500;
    color: white;
    /* text-shadow: 1px 1px 2px black; */
}

input {
    margin-bottom: 10px;
}

.porcentajes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.porcentajes .foto {
    width: 150px;
    height: auto;
}




.trabajo p {
    font-size: 20px;
    background-color: #a1681c;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #E58910;
}

.proyectos p {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 3px 1px #87801E;
    
}
.Luna_poster {
    height: 400px;
    width: auto;
}

.grandmas_poster {
    height: 450px;
    width: auto;
}
.pelis p {
    /* background-color: #985B0B; */
    border-radius: 20px;
    border: solid 1px #E58910;
    padding: 20px;
    margin-top: 10px;
    color: #724408;
}

/* media queries */
@media only screen and (min-width: 1200px) {
    h1 {
        margin-left: 650px;

    }

    h2 {
        margin-left: 750px;
    }

    h3 {
        margin-left: 900px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 320px) {
    h4 {
        font-size: 40px;

    }

    form {
        margin-left: 0px;
        margin-bottom: 60px;
    }
}

/* media queries sobre mi */
@media only screen and (max-width: 320px) {
    section p {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .nleft {
        height: 150px;
        width: 150px;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 320px) {
    .nright h4 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    .nright {
        margin-left: 0px;
        height: 200px;
        padding-top: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .presentacion p {
        margin-left: 60px;
        height: 230px;
        width: 200px;
        text-align: center;
        align-items: center;
    }

    .presentacion {
        border: solid 2px #C8D96F;
        margin: 5px;
        margin-bottom: 40px;
    }
}

/* @media only screen and (max-width: 1200px){
        .presentacion p{
            margin-left: 100px;
            height: 230px;
            width: 200px;
            text-align: center;
            align-items: center;
        }

        .presentacion{
            border: solid 2px #C8D96F;
            margin: 5px;
            margin-bottom: 40px;
        }    
    } */
/* fin media queries */